#list_tool 
{
    background: #fff;
    text-align: right;
    padding: 2px;
}

#list_tool span
{
    padding: 2px 4px;
    cursor: pointer;
    color: #999;
}


#list_tool span.hover
{
    background: #f0f0f0;
    color: #000;
}
